@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700;800;900&display=swap");
:root {
    --primary-color: #47A359;
    --secondary-color: #f2f2f2;
    --third-color: #ff7183;
    --active-color: #c83245;
    --hover-color: #df4155;
    --content-color: #4b4b4b;
    --font-title: "Nunito", sans-serif;
    --font-content: "Roboto", sans-serif;
}
html,
body {
    height: 100%;
    /* font-family: 'Nunito','Be Vietnam Pro', sans-serif; */
    font-family: 'Nunito', sans-serif;
}
strong{
    font-weight: 700;
}
input:focus{
    outline: none;
    box-shadow:none
}
button{
    outline: none;
    box-shadow:none
}
a:hover{
    text-decoration: none;
}
.menu{
    line-height: 60px;
}
.menu ul{
    list-style-type: none;
}

.menu ul li{
    display: inline;
    padding: 1%;
    font-weight: bold;
}
.divider {
    height: 3px;
    display: block;
    background-color: rgba(0,0,0,.1);
    margin: 1em 0;
    width: 30px;
}

.sider{
    border-right: 2px solid var(--secondary-color) !important;
}

.input-rounded{
    border-radius: 10px !important;
}



.prefix-search-icon{
    border-top-left-radius: 13px !important;
    border-bottom-left-radius: 13px !important;
    background-color: var(--secondary-color);
    outline: none;
}

.suffix-search-icon{
    border-top-right-radius: 13px !important;
    border-bottom-right-radius: 13px !important;
    background-color: var(--secondary-color);
    outline: none;
}
.input-search{
    background-color: var(--secondary-color);
}

.input-search:focus{
    background-color: var(--secondary-color);
}
.custom-checkbox .custom-control-input:checked~.custom-control-label::before{
    background-color:var(--primary-color);
    outline-color: var(--primary-color);
    box-shadow:none
}

.medium-primary-btn{
    background-color: var(--primary-color) !important;
    color: #FFFFFF;
    border-radius: 13px !important;
    min-width: 120px;
}

.medium-primary-btn:hover{
    background-color: var(--primary-color) !important;
    color: #FFFFFF;
}

.small-primary-btn{
    background-color: var(--primary-color) !important;
    color: #FFFFFF;
    border-radius: 13px !important;
    min-width: 60px;
}

.small-primary-btn:hover{
    background-color: var(--primary-color) !important;
    color: #FFFFFF;
}

.small-third-btn{
    background-color: var(--third-color) !important;
    color: #FFFFFF;
    border-radius: 13px !important;
    min-width: 60px;
}

.small-third-btn:hover{
    background-color: var(--third-color) !important;
    color: #FFFFFF;
}

.medium-secondary-btn{
    background-color: white !important;
    border-radius: 13px !important;
    border: 2px solid var(--secondary-color);
    min-width: 120px;
}

.medium-secondary-btn.active{
    background-color: var(--primary-color) !important;
    color: #FFFFFF;
    border-radius: 13px !important;
    border: 0px ;
    min-width: 120px;
}

.medium-secondary-btn:hover{
    background-color: white !important;
}
.medium-secondary-btn.active:hover{
    background-color: var(--primary-color) !important;
    color: #FFFFFF;
}

/* Style card */
.card{
    /* box-shadow: 0px 2px 5px 0px rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%); */
    border: 2px solid var(--secondary-color);
    border-radius: 25px;
    font-weight: 400;
}
.view {
    position: relative;
    overflow: hidden;
    cursor: default;
    padding: 4px;
}

.view img {
    position: relative;
    display: block;
}

.img-fluid {
    max-width: 97%;
    margin: 1px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}

.card-body {
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 1.25rem;
}

.card.card-ecommerce .card-footer {
    background-color: transparent;
}
.card-footer:last-child {
    border-radius: 0 0 calc(.25rem - 1px) calc(.25rem - 1px);
}
.card-footer {
    padding: .75rem 1.25rem;
    background-color: rgba(0,0,0,.03);
    border-top: 1px solid rgba(0,0,0,.125);
}

/* Pagination */
.pagination.pagination-circle .page-item.active .page-link {
    -webkit-border-radius: 50%;
    border-radius: 50%;
    color: #ffffff;
    font-weight: 600;
    background-color: var(--primary-color);
}
.pagination .page-item .page-link {
    outline: 0;
    border: 0;
}
.page-link{
    color: #212529;
}
.pagination.pagination-circle .page-item .page-link {
    margin-left: 2px;
    margin-right: 2px;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    font-weight: 400;
    
    cursor: pointer;

}


/* Cart Page  */
.view {
    position: relative;
    overflow: hidden;
    cursor: default;
    padding: 4px;
}

.img-fluid {
    max-width: 97%;
    margin: 1px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}
.z-depth-1{
    -webkit-box-shadow:0 2px 5px 0 rgba(0,0,0,.16),0 2px 10px 0 rgba(0,0,0,.12)!important;
    box-shadow:0 2px 5px 0 rgba(0,0,0,.16),0 2px 10px 0 rgba(0,0,0,.12)!important
}

.quantity-input{
    text-align: center;
    -moz-appearance: textfield;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}


/* carousel */
.carousel-indicators{
    padding-bottom: 0 !important;
}
.carousel-indicators li {
    cursor: pointer;
    background-color: #BDC1E3;
}
.carousel-indicators .active {
    background-color: var(--primary-color);
}

/* carousel */